apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-devops-ci
  labels:
    app: hello-devops-ci
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hello-devops-ci
  template:
    metadata:
      labels:
        app: hello-devops-ci
    spec:
      containers:
        - name: app
          image: hello-devops-ci:local
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: "3000"
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 2
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
